h1 {
    font-family: "Century Gothic";
}

ul {  
    background-color: #eee;  
    cursor: pointer;  
}

li{  
    padding: 12px;
}

li:hover {
    background-color: #eeee00;
}

#uid {
    display: none;
}

.alert {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.alertBad {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.profileBtn {
    position: fixed;
    cursor: pointer;
    right: 370px;
    top: 20px;
    background: #33FF90;    
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
    border-radius: 28px;
    border: none;
}

.logoutBtn {
    position: fixed;
    cursor: pointer;
    right: 20px;
    top: 20px;
    background: #3498db;    
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
    border-radius: 28px;
    border: none;
}

.searchBtn {
    position: fixed;
    cursor: pointer;
    right: 150px;
    top: 20px;
    background: #4CAF50;    
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
    border-radius: 28px;
    border: none;
}

.leaderboardsBtn {
    position: fixed;
    cursor: pointer;
    right: 530px;
    top: 20px;
    background: #000066;    
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
    border-radius: 28px;
    border: none;
}

.pendingRequestsBtn {
    position: fixed;
    cursor: pointer;
    right: 170px;
    top: 20px;
    background: #D433FF;    
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 18px 8px 18px;
    text-decoration: none;
    border-radius: 28px;
    border: none;
}

.acceptBtn {
    background-color: #4CAF50;
    color: white;
    font-weight: 900;
    font-size: 100%;
    padding: 3px 10px;
    margin: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.declineBtn {
    background-color: #e60000;
    color: white;
    font-weight: 900;
    font-size: 100%;
    padding: 3px 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.outgoingRequests, .outgoingLeaderboardRequests {
    float: right;
    border-left: 6px solid red;
    background-color: #ffb3b3;
    width: 600px;
    border-radius: 6px;
}

.outgoingRequests h2 {
    top: -18px;
    position: relative;
}

.outgoingLeaderboardRequests h2 {
    top: -18px;
    position: relative;
}

.incomingRequests {
    border-left: 6px solid blue;
    background-color: lightblue;
    width: 540px;
    border-radius: 6px;
}

.incomingLeaderboardRequests {
    border-left: 6px solid blue;
    background-color: lightblue;
    width: 660px;
    border-radius: 6px;
}
